# This property file contains the information for signing the app
#
# DO NOT PUT THE keystore.properties FILE UNDER VERSION CONTROL

# Path to the keystore file
storeFile = keystore.jks
# Password for the keystore
storePassword = password
# Key alias
keyAlias = alias
# Password for the key
keyPassword = password